
<%= form_with(model: [question.quiz, question]) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :question_text %>
    <%= form.text_field :question_text %>
  </div>

  <div>
    <%= form.label :answers, "Atbildes" %>
    <% question.answers.each_with_index do |answer, index| %>
     <div class="mt-2">
        <%= form.fields_for :answers, answer do |answer_form| %>
          <%= answer_form.label :answer_text, "Atbilde #{index + 1}" %>
          <%= answer_form.text_field :answer_text %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
